.body{
    display: flex;
    flex-direction: column;
}
.box{
    height: 100px;
    width: 100px;
    background-color: #6495ed;
    border-style: solid;
    border-color: midnightblue;
    margin: 1em;
    border-radius: 10%;
    box-shadow: 0 9px #999;
}
.container{
    flex-wrap: wrap;
    margin-top: 3em;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: midnightblue;
    border-radius: 10%;
    background-color: aliceblue;
    padding: 2em;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-size: xxx-large;
    margin-right: auto;
    margin-left: auto;
}
.box:active {
    transition: all 15ms ease-in-out;
    transform: translateY(6px);
    box-shadow: 0 3px #666;
}
.start-button{
    font-family: 'Oswald', sans-serif;
    width: 500px;
    height: 50px;
    font-size: x-large;
    margin: 30px 0 0 0;
}
.btn:active{
    transition: all 15ms ease-in-out;
    transform: translateY(3px);
}
.simon-square{
    transition: .1s;
    transition-timing-function: ease-out;
    transform: scale(1.2);
    background: lightskyblue;
}
.un-simon-square{
    transition: .1s;
    transition-timing-function: ease;
    transform: scale(1);
    background: #6495ed;
}